
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: #c4a5a5;
}
*{
    font-family: 'Poppins', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 32px;
    color: #74e7e7;
    text-shadow: 2px 2px 1px #000000;
    margin: 50px;
}
.container_cards{
    margin: 50px 100px;
    text-align: center;
    padding: 10px;
    width: fit-content;
    display: inline-flex;
}
.container_cards .tarjeta{
    margin: 20px;
    box-shadow: 1px 1px 10px #000000;
    border-radius: 10px;
    border-radius: 10px; 
}
.container_cards .tarjeta .titulo_tarjeta{
    color:  #308d8d;
}
.container_cards .tarjeta .d_block span{
    display: block;
}